img {
  width: 70%;
  height: 70%;
  /* margin: auto; */
  cursor: pointer;
}

.flex {
  text-align: center;
}

.file-label {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  width: min(100%, 350px);
  padding: 1.5em 0.5em;
  margin-inline: auto;
  color: #fff;
  background-color: #ffa620;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.file-label:hover {
  opacity: 0.7;
}

.fileInput {
  display: none;
}

.file-none {
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  margin-top: 1em;
  word-break: break-all;
}

.eroList {
  padding: 40px 0;
}

.eroList button {
  padding: 5px 20px;
}

.audio-handler {
  display: flex;
  justify-content: center;
}